body {
    font-family : 'Lato', sans-serif;
    position: absolute;
    margin: auto;
    padding: 20px;
    top: 30px;
    left: 150px;
    background-color: #3cc9ff;
}

.welcome {
    padding: 30px;
    background-color: #ffffff;
}

.login-form {
    padding: 30px;
    background-color: #ffffff;
}

.register-form {
    padding: 30px;
    background-color: #ffffff;
}

.welcome a {
    padding:40px;
}

.dashboard {
    padding: 30px;
    background-color: #ffffff;
}
