
<div class="login-form">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <br>
            <input 
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
                value="<%= typeof name != 'undefined' ? email : '' %>"
            />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <br>
            <input 
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
            />
        </div>
        <button type="submit" class="">Login</button>
    </form>
    <p class="">
        New Here? <a href="/register" class="">Register</a>
    </p>
</div>